<div align="center">
    <header class="index_header">
        <h1>Welcome to Telepic!</h1><hr><br>
    </header>

    <div class="index_content">
        <div id='index_btn'>
        <% if logged_in? %>
            <%= button_to "Log Out", logout_path, method: :delete %><br>
            <%= button_to "Join Game", join_game_path, method: :get %><br>
            <%= button_to "Create Game" %>

            <%= form_with url: waiting_rooms_path, method: :post, local: true do |form| %>
              <%= form.submit "Start Waiting Room as a Guest" %>
            <% end %><br>
        <% else %>
            <%= button_to "Login", login_new_path, method: :get %><br>
            <%= button_to "Register", register_path, method: :get %><br>
            <%= button_to "Join Game", join_game_path, method: :get %><br>

            <%= form_with url: waiting_rooms_path, method: :post, local: true do |form| %>
              <%= form.submit "Start Waiting Room as a Guest" %>
            <% end %><br>
        <% end %>
        </div>
    </div>

    <footer class="index_footer">
    </footer>
</div>