<h1>Create a new waiting room</h1>

<%= form_with(model: @waiting_room, url: waiting_rooms_path) do |form| %>
  <% if @waiting_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiting_room.errors.count, "error") %> prohibited this waiting room from being saved:</h2>

      <ul>
        <% @waiting_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>